<a href="https://colab.research.google.com/github/ntdthanh1409/B-i-t-p-ch-ng-4/blob/master/Baitappandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. In giá trị của Series đó ra màn hình

In [ ]:
s = pd.Series([1,2,3,4,56,6,7,8,9,10,22,34,234])
print(s)

0       1
1       2
2       3
3       4
4      56
5       6
6       7
7       8
8       9
9      10
10     22
11     34
12    234
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [ ]:
data = {'a' : -1.3, 'b' : 11.7, 'd' : 2.0, 'f': 10, 'g': 5, 'x': 6, 'y' : 7, "z" : 11, "k" : 22}
data = pd.Series(data)
print(data)

a    -1.3
b    11.7
d     2.0
f    10.0
g     5.0
x     6.0
y     7.0
z    11.0
k    22.0
dtype: float64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [ ]:
s = pd.Series([1,2,3,4,56,6,7,8,9,10,22,34], 
              index=['a','c','b','d','e','f','s','h','x','y','z','t'])
print(s)

a     1
c     2
b     3
d     4
e    56
f     6
s     7
h     8
x     9
y    10
z    22
t    34
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [ ]:
data = {'a' : -1.3, 'b' : 11.7, 'd' : 2.0, 'f': 10, 'g': 5, 'x': 6, 'y' : 7, "z" : 11, "k" : 22}
data = pd.Series(data)
print(data[4])

5.0

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [ ]:
s = pd.Series([1,2,3,4,56,6,7,8,9,10,22,34], 
              index=['a','c','b','d','e','f','s','h','x','y','z','t'])
print(s['a'])

1

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [10]:
s = pd.Series([1,2,3,4,56,6,7,8,9,10,22,34], 
              index=['a1','a2','a3','a4','a5','a6','s','h','x','y','z','t'])
s[[name.startswith('a') for name in s.index]]

a1     1
a2     2
a3     3
a4     4
a5    56
a6     6
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [ ]:
s = pd.Series([1,2,3,4,56,6,7,8,9,10,22,34,234])
s.name = "Gia_tri"
s.index.name = "STT"
s

STT
0       1
1       2
2       3
3       4
4      56
5       6
6       7
7       8
8       9
9      10
10     22
11     34
12    234
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [ ]:
s = pd.Series([1,2,3,4,56,6,7,8,9,10,22,34,234])
k = np.log(s)
print(k)

0     0.000000
1     0.693147
2     1.098612
3     1.386294
4     4.025352
5     1.791759
6     1.945910
7     2.079442
8     2.197225
9     2.302585
10    3.091042
11    3.526361
12    5.455321
dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [ ]:
s = pd.Series([1,2,3,4,56,6,7,8,9,10,22,34,234])
k = s.loc[s > 15]
print(k)

4      56
10     22
11     34
12    234
dtype: int64